
body{
    background-color: rgb(168, 168, 168);
    overflow-x: hidden;
    overflow-y: scroll;
}

.svgheader{
    position: relative;
    z-index: 1;
}


.navPath{
    z-index: 10;
}

.maskimghome{
    display: block;
}

.maskimgpage{
    display: none;
}



.menus {
    position: absolute;
    width: 100%;
    height: 120px;
    /* background-color: aquamarine; */
    top: 0px;
}

.menu {
    position: absolute;
    width: 100px;
    height: 100px;

    border: 3px solid rgba(200, 0, 0, 1.0);
    border-radius: 100%;
    background-color: rgba(200, 0, 0, 1.0);
    cursor: pointer;
    z-index: 1;
    transition: background-color 1s;
    /* transform:translate(-50%,-50%); */
    /* box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); */
}

.menuRipple {
    transform:translate(-0%,-0%);
}


.menuRipple:before{
    position:absolute;
    content:'';
    border:3px solid rgba(200, 0, 0, 1.0);
    left:0;
    right:0;
    bottom:0;
    top:0;
    border-radius:50%;
    animation:animate 2s linear infinite;
 }
.menuRipple:after{
    position:absolute;
    content:'';
    border:3px solid rgba(200, 0, 0, 1.0);
    left:0;
    right:0;
    bottom:0;
    top:0;
    border-radius:50%;
    animation:animate 2s 1s linear infinite;
}
  
  @keyframes animate{
    100%{
      transform:scale(1.5);
      opacity:0
    }
  }
  


.menu:hover {
    background-color: rgb(255, 0, 0);
}


.menu:hover h3{
    color: rgb(255, 255, 255);
}

.pageLogo{
    width: 168px;
    height: 168px;
}





.menuIcon{
    font-size: 2em;
    color: rgb(200, 200, 200);
    /* line-height: 50px; */
    text-align: center;
}

.menus h3{
    position: relative;
    width: 100%;
    line-height: 25px;
    text-align: center;
    color: rgb(200, 200, 200);
    font-weight: 500;
    transition: color 1s;
}




.card{
    background-color: rgb(168, 168, 168);
    border-radius: 10px;
    /* box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); */
}



.cardSlider{
    position: relative;
}

.card img{
    position: relative;
    width: 100%;
    transform: scale(1.1);
}

.cardSlider .card__img{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: tomato;

    top: 0;
    left: 0;
    animation: cardImgSlider 10s infinite;
    opacity: 0;
}




  
@keyframes cardImgSlider {
    60% {
      opacity: 1.0;
    }
    70% {
      opacity: 0.0;
    }
}



  .card img:nth-child(1) {
    animation-delay: 0s;
  }
  
  .card img:nth-child(2) {
    animation-delay: 5s;
  }
  


.card h3 {
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    font-weight: 100;
}








.w80{
    width: 80%;
    margin: 0 auto;
}
.w50{
    padding: 2em;
    background-color: rgb(150, 0, 0);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}


.wxewm{
    width: 100%;
    max-width: 256px;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.8em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}